<%- include('partials/header') %>
    <h1>Welcome</h1>
    <p><a href="http://localhost:3030/users">View</a> all users.</p>
    <p><a href="http://localhost:3030/schedules">View</a> all Schedules</p>
    <p><a href="http://localhost:3030/users/new">Register</a> new user.</p>
    <p><a href="http://localhost:3030/schedules/new">Add</a> new Schedule</p>
    <%- include('partials/footer') %>