<%- include('partials/header') %>
<div class="w-75 m-auto text-center">
    <h1 class="display-1 mt-5">Welcome</h1>
    <p><a href="http://localhost:3030/schedules">View</a> all Schedules</p>
    <p><a href="http://localhost:3030/schedules/new">Add</a> new Schedule</p>
</div>    
<%- include('partials/footer') %>