<%- include('partials/header') %>
    <h1>Sign Up</h1>
    <form action="/users/new" method="POST">
        <div class="firstname">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" placeholder="Jenis">
        </div>
        <div class="lastname">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" placeholder="Rai">
        </div>
        <div class="email">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="jenishrai@gmail.com">
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="submit">
            <input type="SUBMIT" id="submit">
        </div>
    </form>
<%- include('partials/footer') %>